* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 200vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}








.section2 {
    width: 90%;
    height: 90vh;
    margin-left: 45PX;
    margin-top: 30px;


    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section1 h1 {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 0 0 4px black;
}

.section1 h1:hover {
    color: deepskyblue;
}


.section3 {
    width: 60vw;
    height: 120vh;
    margin-left: 180px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section4 h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.section3 p {
    text-align: center;
    margin-top: 15px
}

.section4 h1 {
    color: whitesmoke;
    text-shadow: 0 0 4px black;
}

.section4 h1:hover {
    color: deepskyblue;
}









.img-box {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./sindh5.png);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box:nth-child(2) {
    background-image: url(./sindh4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background-image: url(./mazar-e-quaid.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background-image: url(./sindh1.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;

}

.img-2 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./op.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-2:nth-child(2) {
    background-image: url(./sindh2.jpg);
    background-size: cover;
    background-position: center;
}

.img-2:hover {
    width: 300px;
    cursor: pointer;

}










.img-box1 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./m-pakistan.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box1:nth-child(2) {
    background-image: url(./BAD2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(4) {
    background-image: url(./Lahore_Fort.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(3) {
    background-image: url(./wazir-khan-mosque.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:hover {
    width: 300px;
    cursor: pointer;

}

.img-3 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./punjab.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-3:nth-child(2) {
    background-image: url(./punjab1.jpg);
    background-size: cover;
    background-position: center;
}

.img-3:hover {
    width: 300px;
    cursor: pointer;

}









.img-box2 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./kpk3.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box2:nth-child(2) {
    background-image: url(./kpk2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:nth-child(4) {
    background-image: url(./kpk4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:nth-child(3) {
    background-image: url(./kpk0.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:hover {
    width: 300px;
    cursor: pointer;

}

.img-4 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./kpk1.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-4:nth-child(2) {
    background-image: url(./kp1.jpg);
    background-size: cover;
    background-position: center;
}

.img-4:hover {
    width: 300px;
    cursor: pointer;

}









.img-box3 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./blochi1.png);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box3:nth-child(2) {
    background-image: url(./sindh9.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:nth-child(4) {
    background-image: url(./blochi2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:nth-child(3) {
    background-image: url(./Quaid-Residency-Ziarat.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:hover {
    width: 300px;
    cursor: pointer;

}

.img-5 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./bloch.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-5:nth-child(2) {
    background-image: url(./bloch2.jpg);
    background-size: cover;
    background-position: center;
}

.img-5:hover {
    width: 300px;
    cursor: pointer;

}











